.canclePage {
  // height: 100vh;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h2 {
    font-size: 26px;
  }
  a {
    margin-top: 25px;
    padding: 10px 50px;
    background: turquoise;
    color: #000;
    font-size: 18px;
  }
}
